.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}
.subtitle{
    font-size: 20px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}
.form{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.input_select{
    padding: 5px 10px;
    width: 300px;
}
.input_bet{
    padding: 5px;
    width: 200px;
}
.input_submit{
    padding: 5px;
    background-color: lightblue;
}
.input_reset{
    padding: 5px;
    background-color: lightblue;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result{
    font-size: 25px;
}
.saldo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}